* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
}

:root{
    --main-color:#F9CC11;
    --primary-color: #F5F5F7;
    --dark-color: #1E1E1E;
    --disactive-color: #ACACAE;
}

body {
    font-family: 'inter';
}

.experience{
    width:1286px;
    height:584px;
    margin-left: 40px;
    margin-right: 40px;
}

.main_title{
    max-width: 14.8rem;
    margin-left: 517px;
    height:68px;
    margin-bottom: 64px;
}

.experience h4{
    color: var(--main-color);
    font-weight: 300;
    font-size: 1rem;
    line-height:1.375rem;
    width: 73.88px;
    height: 22px;
    float: right;
    /*margin-left:176.12px;*/
    position: relative;
    z-index: 1;
}

.experience h1{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2.813rem;
    font-style: normal;
    line-height:54.46px;
    /*margin-left: 517px;*/;
    text-transform: capitalize;
    position: relative;
    bottom: 8px;
}

.experience .title_box{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 64px 114px ;
margin-bottom: 64px;
}

.experience .title_element{
width: 586px;
height: 150px;
}

.experience .title_line{
    display: flex; 
    justify-content:space-between; 
    gap: 433px;
}

.experience .title_box .title_element .title_line h3{
    color:var(--disactive-color);
    font-weight: 300;
    font-size: 1rem;
    line-height:22px;
    width: 90px;
    height: 22px;
    position: relative;
    top:18px;
}

.experience .title_box .title_element .title_line h2{
    color:var(--primary-color);
    font-weight: 400;
    font-size: 1.875rem;
    line-height:40px;
    width: 63px;
}

.experience .title_box .title_element hr{
    border-width:0px; 
    color:var(--main-color); 
    width: 586px; 
    height:1px; 
    background-color:var(--main-color);
    margin-top: 4px;
}

.experience .title_box .title_element p{
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 22px;
    color: var(--disactive-color);
    margin-top: 18px;
}

.experience a{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 24px;
    width:104px;
    height: 24px;
    text-decoration: underline;
    color: var(--main-color);
    margin-left: 591px;
}